*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* nav starts */
.header-nav{
    width: 100%;
    background-color: aquamarine;
    background-color: #31194e;
    border-bottom: 10px solid gray;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: #31194e;
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
    align-items: center;
}
nav h1{
    color: lightpink;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 25px;
}
    /* nav ends */