*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1A0A2D;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bbb{
  background: linear-gradient(90deg, #ff4fd8, #a84cff, #ffb000);
  color: white;
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  font-weight: 600;
  cursor: pointer;
    font-family: system-ui, sans-serif;
}

}
/* nav starts */
.header-nav{
    width: 100%;
    border-bottom: 2px solid gray;
}
nav{
    display: flex;
    justify-content: space-between;

    width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
    align-items: center;
}
nav h1{
    color: lightpink;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 25px;
}
    /* nav ends */

    /* hero starts */
    .hero{
        /* width: 100%; */
    height: 400px;
    background-image: url(./img/hero-bg.png);
    /* background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; */
    padding-top: 50px;
}

.hero-img{
    position: relative;
    display: inline-block;
}

.img1 {
    width: 340px;
    margin-left: 635px;
}

.img2 {
  position: absolute;
  top: 80px;
  left: 740px;
  width: 130px;
}

.hero1{
    height: 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.hero1 h1{
    color: rgb(222, 213, 233);
}
.hero1 p{
    color: rgb(138, 130, 130);
}
.hero1 .hero1-b1{
    width: 150px;
    padding: 10px 0px;
    border-radius: 20px;
}
.hero1 .hero1-b2{
    width: 100px;
    padding: 10px 0px;
    border-radius: 20px;
}
.x{
    background-color: transparent;
    border: 1px solid rgba(18, 187, 130, 0.897);
    color: rgb(60, 134, 60);
}
    /* hero ends */

    /* about starts */
    .about {
        display: flex;
        flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: 2px solid rgb(168, 157, 157);
}
.about h1{
    color: antiquewhite;
}
.about .p1,.p2{
    color: rgb(136, 123, 123);
    text-align: center;
}
.about .p1{
    margin-bottom: 15px;
}
/* about ends */


/* number starts */
.number{
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.number>*{
    color: bisque;
    line-height: 40px;
}
/* number ends */

/* featured starts */

.featured{
    height: 500px;
    padding-top: 80px;
}
.lol{
    text-align: center;
    color: beige;
    margin-bottom: 20px;
}
.featured-card-container{
display: flex;
justify-content: center;
align-items: center;
gap: 25px;

}
.featured-card-container .card{
    width: 300px;
    height: 320px;
    background-color: #270a49;
    border-radius: 20px;

}
.featured-card-container .card h3{
    color: blanchedalmond;
}
.featured-card-container .card p{
    color: rgb(139, 122, 122);
}
.featured-card-container .card span{
    color: rgb(28, 128, 28);
}
.featured-card-container .card>*{
    margin-bottom: 10px;
}
.ifr{
    width:"100%"; 
    height:"50%";
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
    /* featured ends */


    /* host starts */
    .host{
        height: 400px;
    }
.host h1{
    text-align: center;
    color: bisque;
    margin-bottom: 40px;
}
.host .host-card{
    background-color: #270a49;
    width: 900px;
    height: 250px;
    margin: 0 auto;
    border-radius: 20px ;
}
.host-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}
.host-content p{
    margin-bottom: 18px;
    color: rgb(116, 105, 105);
    margin-left: 10px;
}
.host-icons{
    display: flex;
    gap: 20px;
    align-items: center;
}
/* host ends */

/* footer starts */
.footer{
    height: 315px;
    background-image: url(./img/footer-bg.png);
    position: relative;
}
.footer ul li, .footer h1{
    color: bisque;
    list-style-type: none;
}
.footer h1{
    margin-bottom: 20px;
    font-size: 5rem;
}
.footer ul{
    margin-bottom: 20px;
}
.footer p{
    color: rgb(114, 102, 102);
}
.footer-icons{
    display: flex;
    gap: 30px;
}
.footer-div{
    position: absolute;
    top: 100px;
    left: 530px;
}
.footer-div p{
    text-align: center;
}
/* footer ends */


/* why-tecwave starts */
.why-techwave {
    padding: 80px 60px;
    background: linear-gradient(135deg, #2a0f4f, #1a0733);
    color: antiquewhite;
}

.section-title {
    text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
}

.cards111 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto auto;
  gap: 24px;
  max-width: 1100px;
  margin: 0 auto;
}

.card5 {
    background: #2a145a;
    border-radius: 16px;
  padding: 24px;
}

.card5 h3 {
    margin: 12px 0 10px;
    font-size: 18px;
}

.card5 p {
  font-size: 14px;
  line-height: 1.6;
  color: #d6cfff;
}

.card5.tall {
    grid-row: span 2;
}

.card5.wide {
  grid-column: span 2;
}

.icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
  margin-bottom: 10px;
}

.icon.small {
  width: 28px;
  height: 28px;
}

.mini {
  margin-top: 20px;
  padding-top: 16px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  gap: 12px;
}

.mini h4 {
    font-size: 16px;
  margin-bottom: 6px;
}

.mini p {
    font-size: 13px;
  color: #cfc6ff;
}
/* why-tecwave end */

