*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1A0A2D;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* nav starts */
.header-nav{
    width: 100%;
    border-bottom: 2px solid gray;
}
nav{
    display: flex;
    justify-content: space-between;

    width: 1000px;
    margin: 0 auto;
    padding: 20px 0px;
    align-items: center;
}
nav h1{
    color: lightpink;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    color: antiquewhite;
    text-decoration: none;
}
nav ul{
    display: flex;
    gap: 25px;
}
    /* nav ends */

    /* hero starts */
    .hero{
        /* width: 100%; */
    height: 400px;
    background-image: url(./img/hero-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    padding-top: 50px;
}


.hero-img{
    position: relative;
    display: inline-block;
}

.img1 {
    width: 340px;
    margin-left: 515px;
}

.img2 {
  position: absolute;
  top: 80px;
  left: 630px;
  width: 100px;
}

.hero1{
    height: 200px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.hero1 h1{
    color: rgb(222, 213, 233);
}
.hero1 p{
    color: rgb(138, 130, 130);
}
.hero1 .hero1-b1{
    width: 150px;
    padding: 10px 0px;
    border-radius: 20px;
}
.hero1 .hero1-b2{
    width: 100px;
    padding: 10px 0px;
    border-radius: 20px;
}
    /* hero ends */